@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  background-color: #000319;
  overflow-x: hidden;
  color: #fff;
}

.scrollbar-hide {
  overflow-y: hidden;
}